@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------
   Minimal Safe Resets
-------------------------------- */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  overflow-x: hidden;
}
